{% extends "main.html" %}
{% block content %}



<div class="row"> 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Where to eat in Dallas</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
        
          <a class="dropdown-toggle" data-toggle="dropdown">What ya hungry for?
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li><a href="http://localhost:5000/restaurant/cuisine/greek/"
            >{{food}}</a></li>
            <li><a href="#">Italian</a></li>
            <li><a href="#">American</a></li>
            <li><a href="#">Asian</a></li>
            <li><a href="#">Vegetarian</a></li>
          </ul>
        </li>
        <li><a href="{{url_for('newRestaurant')}}">Add Restaurant</a></li>
        <li><a href="{{url_for('disconnect')}}">Logout</a></li> 
        <li><a href="https://www.google.com/?gws_rd=ssl#q=top+restaurants+in+dallas+tx">Other Options</a></li> 
      </ul>
    </div>
  </div>
</nav>
</div>
